*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-gray: #6f6f6f;
	--color-foreground: #161616;
	--color-background: #ffffff;

	--spacing-16: 1rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-40: 2.5rem;
	--spacing-48: 3rem;
}
body {
	overflow: hidden;
	color: var(--color-foreground);
	background: var(--color-background);
	font-family: Arial, Helvetica, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	height: auto;
	display: block;
	max-width: 100%;
}
a {
	text-decoration: none;
}
a:focus-visible {
	outline-offset: 2px;
	outline: 2px solid var(--color-foreground);
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-gray: #8d8d8d;
		--color-foreground: #ffffff;
		--color-background: #161616;
	}
}
