.headline {
	font-weight: 500;
	color: var(--color-gray);
	font-size: var(--spacing-24);
	line-height: var(--spacing-32);
}
.paragraph {
	font-weight: 500;
	font-size: var(--spacing-24);
	color: var(--color-foreground);
	line-height: var(--spacing-32);
}
