.main {
	display: flex;
	max-width: 768px;
	gap: var(--spacing-12);
	flex-direction: column;
	padding: var(--spacing-32);
}
@media (min-width: 768px) {
	.main {
		min-height: 100svh;
		padding: var(--spacing-48);
		justify-content: space-between;
	}
}
